<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1>You have reached the end of the Internet</h1>
        <hr>
        <a class="btn btn-outline-success" asp-controller="Movie" asp-action="Index">Home Page</a>
    </div>
</div>